.listItem {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.projectsMain {
  height: 100%;
}
.projectsImg {
  width: 100%;
}

.photoContainer {
  display: grid;
  height: 100%;
  grid-template-rows: min-content auto;
  grid-template-columns: 20% auto 20%;
}

.text {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.leftButton {
  grid-row: 2;
  grid-column: 1;
}

.rightButton {
  grid-row: 2;
  grid-column: 3;
}

.photo {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.img {
  max-width: 100%;
  max-height: 100%;
}
